# Egyptology Dataset Cleanup Notebook

## Prerequisites

In [2]:
# Import modules

import pandas as pd

In [4]:
# Load the dataset and take a look at the head

df = pd.DataFrame(pd.read_excel("assets/Condensed Pyramid Data copy (6-13-2024).xlsx"))
#df = pd.read_json("incomplete_pyramid_data.json")

In [5]:
# View the head
df.head()

,Ruler,Gender,Start of Reign,End of Reign,Length of Reign (Years),Period,Dynasty,Title,Pyramid Texts,Site/Location,Orientation,Exterior Material,State of Completion,Superstructure Type,Height (m),Length (m),Width (m),Slope (degrees),Enclosure Wall Dimensions (m),Notes
0,Djoser,King,2630.0,2611.0,19,Old Kingdom,3,Step Pyramid of Djoser,NaN,Saqqara,N-S,Limestone,NaN,Pyramid,60,121,109,NaN,NaN,seems to have enclosure walls and temple accor...
1,Sekhemhet,King,2611.0,2603.0,8,Old Kingdom,3,Enclosure and Unfinished Step Pyramid of Sekhe...,NaN,Saqqara,N-S,Stone,Unfinished,"Pyramid, Enclosure",7,120,120,NaN,"536 N/S; 194 E/W, walls 5m tall","unfinished, no limestone casing, ""probably iny..."
2,Nebka?,King,2649.0,2630.0,19,Old Kingdom,3,Pyramid of Nebka? Unfinished Pyramid,NaN,Zawiyet el-Aryan,E-W,Stone,Unfinished,"Pyramid, Enclosure",unknown,200,200,NaN,enclosure wall oriented N-S,debate over whether this is Pyramid of Nebka
3,Khaba,King,2603.0,2599.0,4,Old Kingdom,3,Pyramid of Khaba,NaN,Zawiyet el-Aryan,E-W,Stone,Unfinished,Pyramid,20 (unfinished),84,84,NaN,NaN,began as step pyramid
4,Huni? Sneferu?,King,2599.0,2575.0,24,Old Kingdom,4,Meidum Pyramid,NaN,Meidum,E-W,Mudbrick,Unfinished,Pyramid,92,144,144,51,NaN,base = 144 according to Lehner

In [6]:
# Get a higher-level view of the datase

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Ruler                          68 non-null     object
 1   Gender                         68 non-null     object
 2   Start of Reign                 22 non-null     float64
 3   End of Reign                   22 non-null     float64
 4   Length of Reign (Years)        23 non-null     object
 5   Period                         67 non-null     object
 6   Dynasty                        68 non-null     object
 7   Title                          68 non-null     object
 8   Pyramid Texts                  11 non-null     object
 9   Site/Location                  55 non-null     object
 10  Orientation                    27 non-null     object
 11  Exterior Material              43 non-null     object
 12  State of Completion            7 non-null      object
 13  Superstructure Type            67 non-null     object
 14  Height (m)                     47 non-null     object
 15  Length (m)                     43 non-null     object
 16  Width (m)                      43 non-null     object
 17  Slope (degrees)                35 non-null     object
 18  Enclosure Wall Dimensions (m)  8 non-null      object
 19  Notes                          30 non-null     object
dtypes: float64(2), object(18)
memory usage: 13.6+ KB

## Removing leading and trailing whitespace in all columns with string elements

In [5]:
# Show a column with leading/trailing whitespace
df["Exterior Material"].value_counts()

Exterior Material
Stone        23
Stone        11
Limestone     1
Mudbrick      1
Name: count, dtype: int64

In [6]:
# Remove leading/trailing whitespace from the elements of all columns with string values
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

In [7]:
# Show that the function applied to all columns, including the previously observed column
df["Exterior Material"].value_counts()

Exterior Material
Stone        34
Limestone     1
Mudbrick      1
Name: count, dtype: int64

## Normalization

In [15]:
# View the values of the column
df["Orientation"].unique()

array(['N-S', 'E-W', nan], dtype=object)

## Exporting the dataset

In [9]:
# Export dataset to json

#df.to_json("incomplete_pyramid_data.json")